<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/navbar1') %>

    <div class="jumbotron jumbotron-fluid" style="margin-top: 100px; background-color: teal;" >
      <div class="container">
            <h1 style="text-align: center;  justify-content: center; ">Welcome to our blogs!!</h1>
      </div>
    </div>


        <div class=" jumbotron" style="padding: 40px; background-color: rgb(235, 228, 228) ">
                <div class=" jumbotron temp" style="background-color: rgb(255, 255, 255);">
                  <div class="container-fluid">
                      <h2 style="text-align: center; color:teal; font-weight: 800; text-transform: uppercase; letter-spacing: 1px;"><%= pj.title %></h1>
                      <br>
                      <h2 style="color: crimson;">I.Introduction</h2>
                      <p><%= pj.introduction %></p>
                      <br>
                      <h2 style="color: crimson;" >II.Explanation</h2>
                      <p><%= pj.working %></p>
                      <br>
                      <h2 style="color: crimson;" >III.Conclusion</h2>
                      <p><%= pj.conclusion %></p>
                  </div>
              </div>
        </div>
    
    

       

        <footer class="page-footer font-small unique-color-dark " style="background: black;">
            <div class="container text-center text-md-left mt-5">
              <br>
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold" style="color: #fff;text-align: center;"> Admins Links   !!!</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <a href="/adminlogin"><button type="button" style="color: white;" class="btn btn-outline-dark">Admin login</button></a>
              <br>
            </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase font-weight-bold" style="color: #fff; text-align: center;">Contact</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                    <p style="color: #fff; text-align: center;">gowthamkishoreindukuri@gmail.com</p>
                  </p>
                  <p>
                    <p style="color: #fff; text-align: center;">+91 6302968122</p>
                  </p>
        
                </div>
        
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase font-weight-bold" style="color: #fff;text-align: center;">Address</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  
                  <p style="color: #fff; text-align: center;">
                   
                    Amrita Vishwa Vidyapeetham , Amritapuri Campus Area ,<br>
                   Shivam Block ,<br> Kerala , INDIA.</p>
        
                </div>
              </div>
            </div>
            <div class="footer-copyright text-center py-3" style="color: #fff;">© 2020 Copyright:
              <a href="http://igkishore.github.io/" style="color: #fff;"> gowtham_kishore_indukuri</a>
            </div>
          </footer>
  
  
  
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>